{% extends "layouts/layout.html" %}
{% block title %} Home Page{% endblock %}
{% block content %}
<main class="page landing-page">
   <section class="clean-block slider dark">
      <div class="container">
         <div class="row justify-content-center align-items-center" style="margin-left: 0px;margin-right: 0px;">
            <div class="col-auto align-self-center">
               <div class="card-group" style="margin-top: 16px;font-size: 12px;width: 680px;height: 300px;">

                  {% if announcement_list %}
                    {% for ann in announcement_list %}
                        <div class="card">
                            <!-- <img class="card-img-top w-100 d-block"> -->
                            <div class="card-body">
                                <h4 class="card-title"><a href={{ann.movie_link}}>{{ann.title}}</a></h4>
                                <p class="card-text">{{ann.text}}</p>
                                <img src={{ann.image_link}} alt="Image" width="200" height="300"> <!--TODO: YOU MIGHT CONSIDER CHANGING THIS WIDTH AND HEIGHT-->
                            </div>
                        </div>
                    {% endfor %}
                  {% endif %}
               </div>
            </div>
         </div>
         <div class="block-heading">
            <h2 class="text-info">Welcome to our Site</h2>
            <p>BlaBlaBox is an incredible site for movie lovers. It has a tremendous amount of movies that are waiting for you! The only thing that you should do is sign up! </p>
         </div>
      </div>
   </section>
   <section class="clean-block about-us"></section>
</main>
{% endblock %}