{% extends "layouts/layout.html" %}

{% block title %}Catalog{% endblock %}
{% block content %}

<main class="page catalog-page">
        <section class="clean-block clean-catalog dark">
            <div class="container">
                <div class="block-heading">
                    <h2 class="text-info">Movies</h2>
                    <p>Here you can see the all the movies that we have for rent or purchase. You can filter the movies with several categories and find the one that you interest the most.</p>
                </div>
                <div class="content">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="d-none d-md-block">
                            <!--
                                <div class="filters">
                                    <div class="filter-item">
                                        <h3>Genre</h3>
                                        <div class="form-check"><input class="form-check-input" type="checkbox" id="formCheck-1"><label class="form-check-label" for="formCheck-1">Drama</label></div>
                                        <div class="form-check"><input class="form-check-input" type="checkbox" id="formCheck-2"><label class="form-check-label" for="formCheck-2">Action</label></div>
                                        <div class="form-check"><input class="form-check-input" type="checkbox" id="formCheck-3"><label class="form-check-label" for="formCheck-3">Comedy</label></div>
                                        <div class="form-check"><input class="form-check-input" type="checkbox" id="formCheck-4"><label class="form-check-label" for="formCheck-4">Romance</label></div>
                                        <div class="form-check"><input class="form-check-input" type="checkbox" id="formCheck-4"><label class="form-check-label" for="formCheck-4">Horror</label></div>
                                    </div>
                                    <div class="filter-item">
                                        <h3>Price</h3>
                                        <div class="form-check"><input class="form-check-input" type="checkbox" id="formCheck-5"><label class="form-check-label" for="formCheck-5">Lower than $20</label></div>
                                        <div class="form-check"><input class="form-check-input" type="checkbox" id="formCheck-6"><label class="form-check-label" for="formCheck-6">Lower than $80</label></div>
                                        <div class="form-check"><input class="form-check-input" type="checkbox" id="formCheck-7"><label class="form-check-label" for="formCheck-7">Higher than $100</label></div>
                                    </div>
                                    <div class="filter-item">
                                        <h3>Rating</h3>
                                        <div class="form-check"><input class="form-check-input" type="checkbox" id="formCheck-8"><label class="form-check-label" for="formCheck-8"><img src="static/img/star.svg" style="width: 15px;height: 14px;"></label></div>
                                        <div class="form-check"><input class="form-check-input" type="checkbox" id="formCheck-8"><label class="form-check-label" for="formCheck-8"><img src="static/img/star.svg" style="width: 15px;height: 14px;"><img src="static/img/star.svg" style="width: 15px;height: 14px;"></label></div>
                                        <div
                                            class="form-check"><input class="form-check-input" type="checkbox" id="formCheck-8"><label class="form-check-label" for="formCheck-8"><img src="static/img/star.svg" style="width: 15px;height: 14px;"><img src="static/img/star.svg" style="width: 15px;height: 14px;"><img src="static/img/star.svg" style="width: 15px;height: 14px;"></label></div>
                                    <div
                                        class="form-check"><input class="form-check-input" type="checkbox" id="formCheck-8"><label class="form-check-label" for="formCheck-8"><img src="static/img/star.svg" style="width: 15px;height: 14px;"><img src="static/img/star.svg" style="width: 15px;height: 14px;"><img src="static/img/star.svg" style="width: 15px;height: 14px;"><img src="static/img/star.svg" style="width: 15px;height: 14px;"></label></div>
                                <div
                                    class="form-check"><input class="form-check-input" type="checkbox" id="formCheck-8"><label class="form-check-label" for="formCheck-8"><img src="static/img/star.svg" style="width: 15px;height: 14px;"><img src="static/img/star.svg" style="width: 15px;height: 14px;"><img src="static/img/star.svg" style="width: 15px;height: 14px;"></label></div>
                        </div>
                        -->
                    </div>
                </div>
                <div class="d-md-none"><a class="btn btn-link d-md-none filter-collapse" data-toggle="collapse" aria-expanded="false" aria-controls="filters" role="button" href="#filters">Filters<i class="icon-arrow-down filter-caret"></i></a>
                    <div class="collapse" id="filters">
                        <div class="filters">
                            <div class="filter-item">
                                <h3>Genre</h3>
                                <div class="form-check"><input class="form-check-input" type="checkbox" id="formCheck-1"><label class="form-check-label" for="formCheck-1">Drama</label></div>
                                <div class="form-check"><input class="form-check-input" type="checkbox" id="formCheck-2"><label class="form-check-label" for="formCheck-2">Action</label></div>
                                <div class="form-check"><input class="form-check-input" type="checkbox" id="formCheck-3"><label class="form-check-label" for="formCheck-3">Comedy</label></div>
                                <div class="form-check"><input class="form-check-input" type="checkbox" id="formCheck-4"><label class="form-check-label" for="formCheck-4">Romance</label></div>
                                <div class="form-check"><input class="form-check-input" type="checkbox" id="formCheck-4"><label class="form-check-label" for="formCheck-4">Horror</label></div>
                            </div>
                            <div class="filter-item">
                                <h3>Price</h3>
                                <div class="form-check"><input class="form-check-input" type="checkbox" id="formCheck-5"><label class="form-check-label" for="formCheck-5">Lower than $20</label></div>
                                <div class="form-check"><input class="form-check-input" type="checkbox" id="formCheck-6"><label class="form-check-label" for="formCheck-6">Lower than $80</label></div>
                                <div class="form-check"><input class="form-check-input" type="checkbox" id="formCheck-7"><label class="form-check-label" for="formCheck-7">Higher than $100</label></div>
                            </div>
                            <div class="filter-item">
                                <h3>Rating</h3>
                                <div class="form-check"><input class="form-check-input" type="checkbox" id="formCheck-8"><label class="form-check-label" for="formCheck-8"><img src="static/img/star.svg" style="width: 15px;height: 14px;"></label></div>
                                <div class="form-check"><input class="form-check-input" type="checkbox" id="formCheck-8"><label class="form-check-label" for="formCheck-8"><img src="static/img/star.svg" style="width: 15px;height: 14px;"><img src="static/img/star.svg" style="width: 15px;height: 14px;"></label></div>
                                <div
                                    class="form-check"><input class="form-check-input" type="checkbox" id="formCheck-8"><label class="form-check-label" for="formCheck-8"><img src="static/img/star.svg" style="width: 15px;height: 14px;"><img src="static/img/star.svg" style="width: 15px;height: 14px;"><img src="static/img/star.svg" style="width: 15px;height: 14px;"></label></div>
                            <div
                                class="form-check"><input class="form-check-input" type="checkbox" id="formCheck-8"><label class="form-check-label" for="formCheck-8"><img src="static/img/star.svg" style="width: 15px;height: 14px;"><img src="static/img/star.svg" style="width: 15px;height: 14px;"><img src="static/img/star.svg" style="width: 15px;height: 14px;"><img src="static/img/star.svg" style="width: 15px;height: 14px;"></label></div>
                        <div
                            class="form-check"><input class="form-check-input" type="checkbox" id="formCheck-8"><label class="form-check-label" for="formCheck-8"><img src="static/img/star.svg" style="width: 15px;height: 14px;"><img src="static/img/star.svg" style="width: 15px;height: 14px;"><img src="static/img/star.svg" style="width: 15px;height: 14px;"></label></div> 
                </div>
            </div>
            </div>
            </div>
            </div>
            <div class="col-md-9">
                <div class="products">
                    <div class="row no-gutters">
                        {% if movie_list %}
                            {% for mov in movie_list %}
                                <div class="col-12 col-md-6 col-lg-4">
                                    <div class="clean-product-item">
                                        <div class="image"><a href="{{url_for('site.movies_show',movie_id=mov.id)}}"><img class="img-fluid d-block mx-auto" src={{mov.pic}}></a></div>
                                        <div class="product-name"><a href="{{url_for('site.movies_show',movie_id = mov.id)}}">{{mov.title}}</a></div>
                                        <div class="about">
                                            <div class="rating">

                                                {% for k in range(mov.int_star() ) %}
                                                        <img src="/static/img/star.svg">
                                                {% endfor %}
                                                    {% if mov.star != mov.int_star() %}
                                                        <img src="/static/img/star-half-empty.svg">
                                                        {% for i in range(5-mov.int_star() - 1) %}
                                                            <img src="/static/img/star-empty.svg">
                                                        {% endfor %}
                                                    {% else %}
                                                        {% for i in range(5-mov.int_star()) %}
                                                            <img src="/static/img/star-empty.svg">
                                                        {% endfor %}
                                                    {% endif %}
                                            </div>
                                            <div class="price">
                                                <h3>${{mov.price}}</h3>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                    {% endif %}
                </div>
                     <nav>
                        <ul class="pagination">
                            <li class="page-item disabled"><a class="page-link" aria-label="Previous"><span aria-hidden="true">«</span></a></li>
                            <li class="page-item active"><a class="page-link">1</a></li>
                            <li class="page-item"><a class="page-link">2</a></li>
                            <li class="page-item"><a class="page-link">3</a></li>
                            <li class="page-item"><a class="page-link" aria-label="Next"><span aria-hidden="true">»</span></a></li>
                        </ul>
                    </nav>
            </div>
            </div>
            </div>
            </div>
        </section>
    </main>

{% endblock %}